#logo{
    width:6rem;
}
#nav{
    background: rgb(53, 58, 64);
}
#cont-logo{
    width: 20rem;
}
#main{
    background:rgba(0, 0, 0, 0.5) url("../ba1.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.section-encabezado, .section-texto{
    margin-right: 8rem;
    text-align: end;
    width: 50%;
}
.section-texto{
    font-size: 1.3em;
}
#section-botton{
    display: flex;
    flex-direction: row;
    margin-right: 8rem;
}
#boton-form{
    background-color: rgb(139, 200, 79);
}
#cards{
    display: flex;
    flex-direction: row;
}
#card1, #card2, #card3{
    width: 20rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
#boton-honolulu{
    border: 1px solid white
}
#forms-inputs{
    display: flex;
    flex-direction: row;
}
#div-footer{
    background: linear-gradient(90deg, rgb(29, 58, 72),rgb(29, 67, 88), rgb(29,73,98), rgb(31,82,113));
}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
     flex-wrap: wrap;
}

/*----------iphone ---------------*/
@media screen and (max-width: 480px){
    #nav-derecho{
        flex-direction: column-reverse;
    }
    #main{
        display: flex;
        align-items: center;
        height: 40vh;
    }
    .section-encabezado{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .section-texto{
        font-size: .9rem;
        text-align: center;
        width: 90%;
        margin: 0;
    }
    #section-botton{
        justify-content: center;
        margin: .5rem 0 0 0;
    }
    #section-boton1, #section-boton2{
        width: 8rem;
        height: 2.5rem;
        font-size: .8rem;
    }
    #cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card1, #card2, #card3{
        width: 70vw;
    }
    #img-honolulu{
        width: 100vw;
    }
    #texto-honolulu{
        font-size: .5rem;
    }
    #subrayado{
        border-bottom: 1px dotted black;
    }
    #form-inputs{
        margin: auto;
        width: 50vw;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    #input1, #input2{
        width: 50vw;
    }
}
/*-------------------tablet--------------*/
@media screen and (max-width: 768px){
    #nav-derecho{
        flex-direction: column-reverse;
    }
    #main{
        display: flex;
        align-items: center;
        height: 40vh;
    }
    .section-encabezado{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .section-texto{
        font-size: .9rem;
        text-align: center;
        width: 90%;
        margin: 0;
    }
    #section-botton{
        justify-content: center;
        margin: .5rem 0 0 0;
    }
    #section-boton1, #section-boton2{
        width: 8rem;
        height: 2.5rem;
        font-size: .8rem;
    }
    #cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #card1, #card2, #card3{
        width: 70vw;
    }
    #img-honolulu{
        width: 100vw;
    }
    #texto-honolulu{
        font-size: .5rem;
    }
    #subrayado{
        border-bottom: 1px dotted black;
    }
    #form-inputs{
        margin: auto;
        width: 50vw;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    #input1, #input2{
        width: 50vw;
    }
}